dir_file: directory for downloaded PDF files
dir_home: directory of pubshelf 
dir_db: db/
db_name: pubshelf.db
author_name: Your name
apps:
  ## Linux
  ##pdf: /usr/bin/acroread
  ##html: /usr/bin/firefox

  ## Mac OSX
  ##pdf: open -a Preview
  ##html: open -a Firefox
